[submodule "media/js/jquery-ui"]
	path = media/js/jquery-ui
	url = https://github.com/jquery/jquery-ui.git
[submodule "media/js/tinymce"]
	path = media/js/tinymce
	url = git@github.com:badsyntax/tinymce.git
[submodule "media/js/jquery-tree"]
	path = media/js/jquery-tree
	url = git@github.com:badsyntax/jQuery-Tree-Control.git
